@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    font-family: 'Baloo', cursive;
    color: #7b7b8c;
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
}

a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1200px) {
    .invite {
        display: none !important;
    }
}

.fade:not(.show) {
    opacity: 1;
}

.nav-tabs {
    justify-content: center;
    border-bottom: 0;
}

.nav-tabs li a {
    border: 1px solid #FF0074;
    padding: 10px 40px;
    color: #FF0074;
}

.nav-tabs li a.active {
    background: #FF0074;
    color: #fff;
    font-weight: normal;

}

.tab-content h3 {
    text-align: center;
    color: #4F4F4F;
    padding-top: 40px;
    padding-bottom: 10px;
}

.tab-content h4 {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 16px;
}

.tab-content p {
    line-height: 20px;
}

@media (max-width: 1199px) {
    .banner-one__moc {
        left: -53%;
    }
}

p {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    line-height: 24px;
}

.heart p {
    position: absolute;
    right: 18px;
    bottom: 16px;
}

/*
* 5. sidebar styles
*/
@media (max-width: 991px) {
    .sidebar {
        margin-top: 50px;
    }
}

.container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
